<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista quizów</title>
    <link href="css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <h2>Lista quizów</h2>
    <table class="blueTable">
        <tr th:each="quiz : ${quizList}">
            <td th:text="${quiz.title}" />
            <td th:text="${quiz.description}" />
            <td th:text="${quiz.createDate}" />
        </tr>
    </table>

</body>
</html>